<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="js/behaviour.js"></script>
</head>
<body>
{{>header}}
<img src="img/newYear.jpg" alt="New Year Party">
{{>footer}}
</body>


</html>