<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="js/behaviour.js"></script>
</head>
<body>
<h1>{{title}}</h1>
<p>My name is: {{name}}</p>

<img src="img/newYear.jpg" alt="New Year Party">
</body>


</html>